/* Light Mode */
body {
  background-color: #f3f3f3;
  color: #616161;
}

/* Dark Mode */
body.dark-mode {
  background-color: #292929;
  color: #dddddd;
}

body {
  margin: 20px;
}

.section {
  margin-bottom: 30px;
}

.control {
  margin-bottom: 15px;
}

.control label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.control input[type='text'],
.control textarea,
.control select {
  width: 100%;
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.control textarea {
  resize: vertical;
  height: 100px;
}

.control select {
  appearance: none;
  -webkit-appearance: none;
  padding-right: 25px;
  background: url('https://cdn.iconscout.com/icon/free/png-256/arrow-down-1767487-1502394.png')
    no-repeat right center;
  background-size: 16px;
}

.button {
  display: inline-block;
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}

/* Primed Flow Design System*/

h1 {
  /* H1 Major Heading

  Use this heading sparingly. Only as a last resort.
  */
  font-family: 'Roboto';
  font-style: normal;
  font-size: 1.5rem;
  font-weight: 600;

  line-height: 1.3;

  display: flex;
  align-items: center;
}

h2 {
  /* H2 Page Heading

Use this as the default page header heading
*/
  font-family: 'Roboto', Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;

  line-height: 1.3;

  display: flex;
  align-items: center;
}

h3 {
  /* H3 Section Header */

  font-family: 'Nunito', Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;

  line-height: 1.3;

  display: flex;
  align-items: center;
}



.tableHeader {
  font-family: 'Nunito', Helvetica, sans-serif;
  font-size: 0.875rem;
  font-weight: 600;

  line-height: 1.3;
}
